<div class=" nav-with-logo">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar5">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img style="width: 64px;" src="img/logo.png" alt="CO'OP" />CO'OP
                </a>
            </div>
            <div id="navbar5" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">Accueil</a></li>
                    <li><a href="#!/login">Connexion</a></li>
                    <li><a href="#">Inscription</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>

</div>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Bienvenue sur CO'OP</h1>
        <p class="lead">CO'OP est un projet de licence pro CISIIE réalisé en cours de Web Client Avancé. Cette application est réalisée grâce à AngularJS 1, est à pour but d'exploiter un API mise à disposition pour simuler la gestion de Channels et de Posts à la manière de l'application
            <a href="https://slack.com/">Slack</a>.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Inscrivez-vous !</a></p>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            <h4>Ce que CO'OP permet</h4>
            <p>Grâce à CO'OP vous pouvez créer des équipes, ajouter des membres, créer des channels pour chatter avec eux en temps réel.</p>
        </div>
        <div class="col-lg-6">

            <h4>Les technologie utilisé</h4>
            <p>Pour réaliser CO'OP nous avons utilisé <a href="http://coop.api.netlor.fr/">l'API CO'OP</a> mise à notre disposition. Nous utilisons également AngularJS 1 et le package ressource pour la gestion de l'API.</p>
        </div>
    </div>
</div> <!-- /container -->
<div class="footer-bottom">

    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                <div class="copyright">

                    © <a href="https://www.github.com/launay12u">Launay Guillaume </a> & <a
                        href="https://www.github.com/pierre121u">Pierre Alexandre</a>

                </div>

            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                <div class="design">
                    Licence Pro CISIIE, année 2016 - 2017
                </div>

            </div>

        </div>

    </div>

</div>